In [1]:
import pandas as pd

(1a) Read the FlowerData file into R and call it F data.

In [2]:
Fdata = pd.read_csv("FlowerData.csv")

(1b) Is F data a matrix or a data frame? How did you know that?

In [3]:
type(Fdata)

pandas.core.frame.DataFrame

(1c) Create a matrix called FlowerMatrix which contains the numerical columns of F data.
Show the first few rows of the matrix.

In [8]:
FlowerMatrix = Fdata.select_dtypes(include=['number'])
FlowerMatrix.head()

   Age (days)  Height (cm)
0          31          5.0
1          48         16.0
2          39         12.5
3          29          6.0
4          32          4.0

(1d) Re-name the columns of FlowerMatrix to be: ”Age (in days)” and ”Height (in cm)”.

In [10]:
FlowerMatrix.columns = ["Age (in days)", "Height (in cm)"]
FlowerMatrix.head()

   Age (in days)  Height (in cm)
0             31             5.0
1             48            16.0
2             39            12.5
3             29             6.0
4             32             4.0

(1e) Re-name the rows of FlowerMatrix using the Individuals column from F data. Show
the first few rows of the matrix again. Note the difference between the two display

In [16]:
FlowerMatrix.index = Fdata.Individual
FlowerMatrix.head()

            Age (in days)  Height (in cm)
Individual
a                      31             5.0
b                      48            16.0
c                      39            12.5
d                      29             6.0
e                      32             4.0

 (2a) Determine the average age of the flowers in the data set.

In [18]:
FlowerMatrix["Age (in days)"].mean()

37.422222222222224

(2b) Determine the average height of the flowers in the data set.

In [19]:
FlowerMatrix[ "Height (in cm)"].mean()

11.877777777777778

(2c) Determine the first individual in the matrix which has the largest height and its height

In [21]:
FlowerMatrix[ "Height (in cm)"].idxmax()

'jj'

(2d) Determine the first individual in the matrix which is the youngest and its age.

In [22]:
FlowerMatrix["Age (in days)"].idxmin()

'h'

(3) In R console, display the data set Fdata, not FlowerData. There are two potential
”issues” in the data set. Where are they?

In [29]:
Fdata.loc[12,"Individual"] ='n'
Fdata.loc[10,"Colour"] = 'violet'
Fdata.head(n=13)

   Individual  Age (days)  Height (cm)  Colour
0           a          31          5.0  purple
1           b          48         16.0  yellow
2           c          39         12.5     red
3           d          29          6.0     red
4           e          32          4.0     red
5           f          37          7.0  yellow
6           g          37          8.0  yellow
7           h          26          5.5  yellow
8           i          41         10.0  purple
9           j          34          8.5  purple
10          k          38         12.0  violet
11          l          40         18.0  yellow
12          n          45         16.0  yellow